<template>
  <div>
    <v-content>
      <v-alert v-if="alert.success"
        :value="true"
        type="success"
        dismissible
      >
        This is a success alert.
      </v-alert>
      <v-alert v-if="alert.info"
        :value="true"
        type="info"
        dismissible
      >
        This is a info alert.
      </v-alert>

      <v-alert v-if="alert.warning"
        :value="true"
        type="warning"
        dismissible
      >
        This is a warning alert.
      </v-alert>

      <v-alert v-if="alert.error"
        :value="true"
        type="error"
        dismissible
      >
        This is a error alert.
      </v-alert>

      <!-- <v-btn @click="show('success')" color="success">Success</v-btn>
      <v-btn @click="show('error')" color="error">Error</v-btn>
      <v-btn @click="show('warning')" color="warning">Warning</v-btn>
      <v-btn @click="show('info')" color="info">Info</v-btn> -->
    </v-content>

    <v-layout style="margin-bottom:50px;">
      <v-flex xs12 sm10 offset-sm1>
        <v-card>
          <v-container grid-list-sm fluid>
            <v-layout row wrap>
              <v-flex
                v-for="n in 21"
                :key="n"
                xs4
                d-flex
              >
                <v-card flat tile class="d-flex">
                  <v-img
                    :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                    :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                    aspect-ratio="1"
                    class="grey lighten-2"
                  >
                    <template v-slot:placeholder>
                      <v-layout
                        fill-height
                        align-center
                        justify-center
                        ma-0
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-layout>
                    </template>
                  </v-img>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  data () {
    return {
      checkbox: true,
      radioGroup: 1,
      switch1: true,
      showInfo: false,
      showSuccess: false,
      showWarning: false,
      showError: false,
      alert: {
        info: false,
        success: false,
        warning: false,
        error: false
      }
    }
  },
  methods: {
    show (type) {
      this.alert[type] = true
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
