<template>
  <div class="app">
    <span class="display-2 bold font-weight-black font-italic">Welcome, hello world!!!!</span>
  </div>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
.app {
  margin-top: 200px;
}
</style>
