<template>
  <div>
    <v-tabs v-model="active" color="#00ACC1" dark slider-color="yellow" class="tabs" grow @change="tabChange">
        <v-tab ripple key="account">Account</v-tab>
        <v-tab ripple key="qrcode">QR Code</v-tab>
        <v-tab-item key="account">
          <div>
            <v-alert v-model="alert" type="warning" color="error" outline transition="scale-transition">
              帳號或密碼錯誤
            </v-alert>
          </div>
          <v-form>
            <v-container>
              <v-layout row wrap>

                <v-flex xs12>
                  <v-text-field
                    v-model="account"
                    placeholder="Account"
                    prepend-icon="account_circle"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    :type="'password'"
                    v-model="password"
                    placeholder="Password"
                    prepend-icon="new_releases"
                  ></v-text-field>
                </v-flex>
                <v-flex v-if="!showLoading" xs6>
                  <v-btn block color="info" @click="login(true)"><v-icon large color="green darken-2">mdi-domain</v-icon>Login</v-btn>
                </v-flex>
                <v-layout xs12 v-if="showLoading">
                  <v-flex xs12>
                    <loading></loading>
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-container>
          </v-form>
        </v-tab-item>
        <v-tab-item key="qrcode">
          <div>
            <v-alert v-model="alert" type="warning" color="error" outline transition="scale-transition">
              帳號或密碼錯誤
            </v-alert>
          </div>
          <div v-if="showScan" style="padding: 20px;">
            <!-- <p class="error">{{ error }}</p> -->
            <!-- <p class="decode-result">Last result: <b>{{ result }}</b></p> -->
            <qrcode-stream v-if="!destroyed" class="qrcode" :camera="{facingMode}" @decode="onDecode" @init="onInit"/>
            <v-btn @click="switchCamera">Switch Camera</v-btn>
            <v-btn @click="reload">Reload Camera</v-btn>
          </div>
        </v-tab-item>
      </v-tabs>
  </div>
</template>
<script>
import api from '@/lib/api'
import loading from '@/components/loading'
const REAR_CAMERA = { ideal: 'environment' }
const FRONT_CAMERA = { exact: 'user' }

export default {
  components: { loading },
  mounted () {
    this.$store.commit('setIsLogin', false)
    this.$store.commit('setAccount', '')
  },
  data () {
    return {
      showLoading: false,
      active: null,
      password: '',
      account: '',
      result: '',
      error: '',
      facingMode: REAR_CAMERA,
      noFrontCamera: false,
      showScan: false,
      alert: false,
      destroyed: false
    }
  },
  methods: {
    tabChange () {
      this.alert = false
      this.account = ''
      this.password = ''
      if (this.active === 1) {
        this.showScan = true
      } else {
        this.showScan = false
      }
    },
    async login (needEncrypt) {
      try {
        if (this.account && this.password) {
          this.showLoading = true
          const response = await api.doLogin(this.account, this.password, needEncrypt)

          if (response.data.Result === 'OK') {
            this.$store.commit('setIsLogin', true)
            this.$store.commit('setUsername', response.data.UserName)
            this.$store.commit('setAccount', this.account)
            this.$store.commit('setGroup', response.data.Group)
            this.$router.push({ name: 'list' })
          } else {
            this.alert = false
            setTimeout(() => {
              this.alert = true
            }, 100)
            console.error(response)
          }
        }
      } catch (err) {
        console.error(err)
      } finally {
        // TODO: alert
        this.showLoading = false
      }
    },
    onDecode (result) {
      this.alert = false
      this.result = result
      console.log('result: ' + result)

      let resultArray = result.split('|')
      if (resultArray.length === 2) {
        this.account = resultArray[0]
        this.password = resultArray[1]
        this.login(false)
      } else {
        setTimeout(() => {
          this.alert = true
        }, 100)
      }
    },
    async onInit (promise) {
      try {
        await promise
        this.error = ''
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          this.error = 'ERROR: you need to grant camera access permisson'
        } else if (error.name === 'NotFoundError') {
          this.error = 'ERROR: no camera on this device'
        } else if (error.name === 'NotSupportedError') {
          this.error = 'ERROR: secure context required (HTTPS, localhost)'
        } else if (error.name === 'NotReadableError') {
          this.error = 'ERROR: is the camera already in use?'
        } else if (error.name === 'OverconstrainedError') {
          this.error = 'ERROR: installed cameras are not suitable'
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = 'ERROR: Stream API is not supported in this browser'
        }
      }
    },
    async reload () {
      this.destroyed = true
      await this.$nextTick()
      this.destroyed = false
    },
    switchCamera () {
      if (this.facingMode === FRONT_CAMERA) {
        this.facingMode = REAR_CAMERA
      } else {
        this.facingMode = FRONT_CAMERA
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.tabs {
  margin-left: 12%;;
  margin-right: 12%;;
  margin-top: 5%;;
}
.qrcode {
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
</style>
