<template>
  <div>
    <v-container justify-start>
      <v-layout v-if="showLoading">
        <v-flex xs12>
          <loading></loading>
        </v-flex>
      </v-layout>

      <v-snackbar v-model="snackbar" :color="color" :timeout="timeout" :top="true" :right="true">
        {{message}}
        <v-btn color="white" flat @click="snackbar = false">
          Close
        </v-btn>
      </v-snackbar>

      <v-layout v-if="!showLoading">
        <v-flex>
          <div style="height: 90vh; padding-bottom: 40px">
            <v-layout align-center justify-start column class="list">
              <v-flex v-for="(machine, i) in machineList" :key="i">
                <machineCard :machineNo="machine.MachineNo" :status="machine.MachineStatus" :isEnable="isCardEnable" @pick="changeMachine"></machineCard>
              </v-flex>
            </v-layout>
          </div>
        </v-flex>

        <v-flex v-if="!showForm" xs9>
          <p class="display-1">Click machine to show machine stage</p>
        </v-flex>

        <v-flex v-if="showForm" xs9 style="padding-bottom: 40px">
          <machineForm :machineNo="machineNo" @refresh="onRefresh"></machineForm>
        </v-flex>

      </v-layout>
    </v-container>
  </div>
</template>
<script>
import loading from '@/components/loading'
import machineCard from '@/components/machineCard'
import machineForm from '@/components/machineForm'
import api from '@/lib/api'

export default {
  components: { loading, machineCard, machineForm },
  async mounted () {
    if (!this.$store.state.username) {
      this.$router.push({ name: 'login' })
    }
    this.clearData()
    this.getMachine()
  },
  data () {
    return {
      snackbar: false,
      message: 'Hello, I\'m a snackbar. Hello',
      color: '#EF5350',
      timeout: 6000,
      machineList: [],
      machineNo: '',
      showLoading: true,
      showForm: false,
      dialogQc: false,
      dialogTryMold: false,
      isCardEnable: true
    }
  },
  methods: {
    onRefresh (machineNo) {
      this.getMachine()
      this.changeMachine(machineNo)
    },
    async getMachine () {
      const response = await api.getMachine()
      this.machineList = response.data.MachineList
      this.showLoading = false
    },
    async changeMachine (machineNo) {
      // step0: clear data
      this.clearData()
      this.showForm = false

      // step1: set data
      console.log(`changeMachine: ${machineNo}`)
      this.machineNo = machineNo
      this.$store.commit('setMachineNo', machineNo)

      setTimeout(() => {
        this.showForm = true
      }, 1)
    },
    clearData () {
      this.$store.commit('setMachineNo', '')
      this.$store.commit('setPlusCount', 1)
      this.$store.commit('setPartNo', '')
      this.$store.commit('setMold', '')
      this.$store.commit('setHole', '')
      this.$store.commit('setHole1', '')
      this.$store.commit('setHole2', '')
      this.$store.commit('setShift', '')
    }
  }
}
</script>
<style lang="scss" scoped>
.list {
  height: 100%;
  overflow-y: scroll;
}
</style>
