<template>
  <div>
    <v-container>
      <v-snackbar v-model="snackbar" :color="color" :timeout="timeout" :top="true" :right="true">
        {{message}}
        <v-btn color="white" flat @click="snackbar = false">
          Close
        </v-btn>
      </v-snackbar>
      <v-tabs v-model="active" color="#00ACC1" dark slider-color="yellow" class="tabs" grow>
        <v-tab ripple key="username">MFG Info</v-tab>
        <v-tab ripple :disabled="errorCountDisable" key="qrcode">Error Count</v-tab>
        <v-tab-item key="username">
          <v-layout row wrap>
            <v-flex xs9 offset-xs2>
              <v-radio-group :disabled="!errorCountDisable" v-model="shift" row>
                <v-radio label="A班" value="A"></v-radio>
                <v-radio label="B班" value="B"></v-radio>
                <v-radio label="C班" value="C"></v-radio>
                <v-radio label="D班" value="D"></v-radio>
              </v-radio-group>
            </v-flex>

            <v-flex xs4 offset-xs1 class="mt-3">
              <v-menu :disabled="holeStatus[1].disable" offset-y full-width>
                <v-btn xs4 slot="activator" color="success" :disabled="holeStatus[1].disable" :dark="!holeStatus[1].disable" large block>
                    {{hole1}} {{usernameForHole1Display}}
                </v-btn>
                <v-list>
                  <v-list-tile v-for="(item, index) in menuItems" :key="index">
                    <v-list-tile-title @click="clickHole('hole1', hole1, item.isOnline)">{{ item.title }}</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </v-flex>

            <v-flex xs4 offset-xs1 class="mt-3">
              <v-menu :disabled="holeStatus[2].disable" offset-y full-width>
                <v-btn xs4 slot="activator" color="success" :disabled="holeStatus[2].disable" :dark="!holeStatus[2].disable" large block>
                    {{hole2}} {{usernameForHole2Display}}
                </v-btn>
                <v-list>
                  <v-list-tile v-for="(item, index) in menuItems" :key="index">
                    <v-list-tile-title @click="clickHole('hole2', hole2, item.isOnline)">{{ item.title }}</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </v-flex>

            <v-flex style="margin-top: 20px" xs9 offset-xs1>
              <v-layout row wrap>
                <v-flex xs4>
                  <v-subheader class="font-weight-black headline">Machine</v-subheader>
                </v-flex>
                <v-flex xs8 offset-xs0>
                  <v-text-field v-model="machineNo" disabled=""></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-subheader class="font-weight-black headline">Part No</v-subheader>
                </v-flex>
                <v-flex xs8 offset-xs0>
                  <v-text-field v-model="partNo" disabled=""></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-subheader class="font-weight-black headline">Mold</v-subheader>
                </v-flex>
                <v-flex xs8 offset-xs0>
                  <v-text-field v-model="mold" disabled=""></v-text-field>
                </v-flex>

                <v-flex xs2>
                  <v-subheader class="font-weight-black headline">Count</v-subheader>
                </v-flex>
                <v-flex xs5 offset-xs2>
                  <v-text-field type="number" :disabled="!isMachineCountEditable" v-model="machineCount"></v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-btn small top :disabled="!isMachineCountEditable" color="warning" @click="updateMachineCount">save</v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-tab-item>
        <v-tab-item key="qrcode">
          <v-layout column wrap>
            <v-flex style="margin-top: 10px" xs12 offset-xs0>
              <v-layout row wrap>
                <v-flex xs4 offset-xs1>
                  <v-subheader class="font-weight-black title">"正常"&nbsp;連片數</v-subheader>
                </v-flex>
                <v-flex xs2 offset-xs0>
                  <v-text-field type="number" placeholder="Count" disabled="" v-model="plusCount"></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs3 offset-xs1>
                  <v-subheader class="font-weight-black title">"正常"&nbsp;總數</v-subheader>
                </v-flex>
                <v-flex xs2 offset-xs0>
                  <v-text-field type="number" placeholder="Count" disabled="" v-model="normalTotalCount"></v-text-field>
                </v-flex>
                <v-flex xs3 offset-xs0>
                  <v-subheader class="font-weight-black title">"異常"&nbsp;總數</v-subheader>
                </v-flex>
                <v-flex xs2 offset-xs0>
                  <v-text-field type="number" placeholder="Count" disabled="" v-model="errorTotalCount"></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout v-if="showLoading">
                <v-flex xs12>
                  <loading></loading>
                </v-flex>
              </v-layout>

              <v-layout style="margin-top: 10px; height: 70vh" column class="list">
                <errorCount style="margin-top: 10px"
                  v-for="(error, index) in errorTypeList"
                  :ref="`errorCount${error.TypeID}`" :key="index"
                  :typeId="error.TypeID"
                  :type="error.Type" :typeCount="error.TypeCount"
                  @change="onCountChange">
                </errorCount>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-tab-item>
      </v-tabs>
    </v-container>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import errorCount from '@/components/errorCount'
import loading from '@/components/loading'
import api from '@/lib/api'
import * as R from 'ramda'
import * as moment from 'moment'

export default {
  components: { errorCount, loading },
  async mounted () {
    if (!this.$store.state.username) {
      this.$router.push({ name: 'login' })
    }
    // step1: get machine statue
    await this.setMachineCount()

    // step3: get hole
    await this.getHole()

    // step2: get error type list
    await this.setErrorCount()

    // step4: set cto
    this.$store.commit('setPlusCount', parseInt(this.$store.state.cto))

    this.showLoading = false
  },
  destroyed () {
    clearInterval(this.setMachineCountIntervalId)
  },
  data () {
    return {
      snackbar: false,
      message: 'Hello, I\'m a snackbar. Hello',
      color: '#EF5350',
      timeout: 1200,
      active: null,
      partNoSelect: '',
      setMachineCountIntervalId: null,
      machineCount: '',
      normalTotalCount: 0,
      errorTotalCount: 0,
      moldSelect: '',
      errorTypeList: [],
      errorCountList: [],
      holeStatus: {
        1: {
          username: '',
          disable: true,
          shift: ''
        },
        2: {
          username: '',
          disable: true,
          shift: ''
        }
      },
      showLoading: true,
      errorCountDisable: true
    }
  },
  methods: {
    async onCountChange (type, quantity) {
      this.changeCount(type, quantity)
      if (type === 'normal') {
        try {
          await api.updateMfgErrorCount(this.machineNo, this.shift, this.hole, '12', this.normalTotalCount)
          this.message = `Error Count increased successfully`
          this.color = '#22c55e' // green
          this.snackbar = true
        } catch (err) {
          this.message = `Error Count increased failed`
          this.color = '#EF5350' // red
          this.snackbar = true
        }
      }
    },
    changeCount (type, quantity) {
      if (type === 'normal') {
        this.normalTotalCount += quantity
      } else if (type === 'error') {
        this.errorTotalCount += quantity
      }
    },
    async clickHole (holeType, holeName, isOnline) {
      console.log('clickHole: ' + holeType + '/' + holeName + '/' + isOnline)
      try {
        this.showLoading = true
        const response = await api.updateHole(this.machineNo, holeName, this.shift, isOnline)

        if (response.data.Result === 'OK') {
          if (isOnline === 'Y') {
            // step 1-1: handle holeStatus
            if (holeType === 'hole1') {
              this.holeStatus[1].disable = false
              this.holeStatus[2].disable = true
              this.holeStatus[1].username = this.username
            } else if (holeType === 'hole2') {
              this.holeStatus[1].disable = true
              this.holeStatus[2].disable = false
              this.holeStatus[2].username = this.username
            }

            // step 1-2: set related value
            this.errorCountDisable = false
            this.$store.commit('setHole', holeName)
            this.$store.commit('setShift', this.shift)

            // step 1-3: set schedule
            this.setMachineCountIntervalId = setInterval(() => {
              console.log('setInterval.setMachineCount()')
              this.setMachineCount()
            }, 1 * 60 * 1000)
          } else if (isOnline === 'N') {
            // step 2-0: save errorCount
            this.errorTypeList.forEach(async (element, index) => {
              console.log(this.$refs[`errorCount${element.TypeID}`][0].count)
              await this.$refs[`errorCount${element.TypeID}`][0].updateMfgErrorCount()
              this.$refs[`errorCount${element.TypeID}`][0].count = 0
            })
            console.log('updateMfgErrorCount() end')
            this.normalTotalCount = 0
            this.errorTotalCount = 0

            // step 2-1: handle holeStatus
            if (holeType === 'hole1') {
              this.holeStatus[1].username = ''
              this.holeStatus[1].disable = false
              if (!this.holeStatus[2].username) this.holeStatus[2].disable = false
            } else if (holeType === 'hole2') {
              this.holeStatus[2].username = ''
              this.holeStatus[2].disable = false
              if (!this.holeStatus[1].username) this.holeStatus[1].disable = false
            }

            // step 2-2: set related value
            this.errorCountDisable = true
            this.$store.commit('setHole', '') // for errorCount.vue's setInterval
            this.$store.commit('setShift', '')

            // step 2-3: clear schedule
            clearInterval(this.setMachineCountIntervalId)
            this.setMachineCountIntervalId = null

            // step 2-4: updateMachineCount
            if (this.isMachineT()) {
              this.updateMachineCount()
            }
            console.log('updateMachineCount() end')
          }
        }
      } catch (err) {
        console.error(err)
      } finally {
        this.showLoading = false
      }
    },
    async setMachineCount () {
      const machineStatusResponse = await api.getMachineStatus(this.machineNo)
      this.machineCount = machineStatusResponse.data.MachineCount
    },
    async getHole () {
      const response = await api.getHole(this.machineNo)

      if (response.data.Result === 'OK') {
        let result1 = R.find(R.propEq('Hole', this.hole1))(response.data.HoleInfo)
        if (result1) {
          // 表示有人使用
          this.holeStatus[1].shift = result1.Shift
          this.holeStatus[1].username = result1.User
          if (this.username === result1.User) {
            // auto 上線
            // TODO: set previous state of error count (response.data.HoleInfo.ErrorCount)
            this.errorCountList = result1.ErrorCount
            console.log('setErrorCountList', result1.ErrorCount)
            this.$store.commit('setShift', result1.Shift)
            this.clickHole('hole1', this.hole1, 'Y')
          }
        } else {
          // 表示沒人使用
          this.holeStatus[1].disable = false
        }

        let result2 = R.find(R.propEq('Hole', this.hole2))(response.data.HoleInfo)
        if (result2) {
          // 表示有人使用
          this.holeStatus[2].username = result2.User
          this.holeStatus[2].shift = result2.Shift
          if (this.username === result2.User) {
            // auto 上線
            // TODO: set previous state of error count
            this.errorCountList = result2.ErrorCount
            this.$store.commit('setShift', result2.Shift)
            this.clickHole('hole2', this.hole2, 'Y')
          }
        } else {
          // 表示沒人使用
          this.holeStatus[2].disable = false
        }
      }
    },
    async setErrorCount () {
      let normalTotalCount = 0
      let errorTotalCount = 0
      const errorTypeResponse = await api.getMfgErrorType(this.partNo, this.mold)
      this.errorTypeList = errorTypeResponse.data.Error
      console.log('getErrorCountList', this.errorCountList)

      let tempErrorTypeList = R.map((obj) => {
        let matchObj = R.find(R.propEq('TypeID', obj.TypeID))(this.errorCountList)
        if (matchObj) {
          console.log('matchObj.TypeID', matchObj.TypeID + '/' + matchObj.TypeCount)
          obj.TypeCount = matchObj.TypeCount
          if (obj.TypeID === '12' || obj.TypeID === '99') {
            normalTotalCount += parseInt(matchObj.TypeCount)
          } else {
            errorTotalCount += parseInt(matchObj.TypeCount)
          }
        } else {
          console.log('notMatched.TypeID', obj.TypeID)
        }
        return obj
      }, errorTypeResponse.data.Error)

      this.changeCount('normal', normalTotalCount)
      this.changeCount('error', errorTotalCount)
      this.errorTypeList = tempErrorTypeList
    },
    async updateMachineCount () {
      const response = await api.updateMachineCount(this.machineNo, this.shift, this.machineCount)
      console.log(response)
      if (response.Result !== 'OK') {
        console.log(response.Result)
        this.message = `[updateMachineCount] ${response.Result}`
        this.snackbar = true
      }
    },
    isMachineT () {
      return this.machineNo.indexOf('T') > -1
    }
  },
  computed: {
    ...mapState([
      'hole1',
      'hole2',
      'hole',
      'partNo',
      'mold',
      'machineNo',
      'username'
    ]),
    shift: {
      get: function () {
        let shift = this.$store.state.shift
        if (!this.$store.state.shift) {
          shift = 'A'
          if (parseInt(moment().format('HH')) < 8 || parseInt(moment().format('HH')) > 19) {
            shift = 'C'
          }
        }
        return shift
      },
      set: function (newValue) {
        this.$store.commit('setShift', newValue)
      }

    },
    plusCount: {
      get: function () {
        return this.$store.state.plusCount
      },
      set: function (newValue) {
        this.$store.commit('setPlusCount', parseInt(newValue))
      }
    },
    usernameForHole1Display () {
      return this.holeStatus[1].username ? `(${this.holeStatus[1].username})` : ''
    },
    usernameForHole2Display () {
      return this.holeStatus[2].username ? `(${this.holeStatus[2].username})` : ''
    },
    isMachineCountEditable () {
      return this.isMachineT() && this.setMachineCountIntervalId
      // return !!this.setMachineCountIntervalId
    },
    menuItems () {
      if (this.hole) {
        return [
          { title: '下線', isOnline: 'N' }
        ]
      } else {
        return [
          { title: '上線', isOnline: 'Y' }
        ]
      }
    }
  },
  watch: {}
}
</script>
<style lang="scss" scoped>
.list {
  height: 100%;
  overflow-y: scroll;
}
</style>
