<template>
  <div class="scan">
    <h1>This is an scan page</h1>
    <p class="error">{{ error }}</p>
    <p class="decode-result">Last result: <b>{{ result }}</b></p>
    <v-btn @click="switchCamera">Switch Camera</v-btn>
    <qrcode-stream class="qq" :camera="{facingMode}" @decode="onDecode" @init="onInit"/>
  </div>
</template>
<script>
const REAR_CAMERA = { ideal: 'environment' }
const FRONT_CAMERA = { exact: 'user' }

export default {
  data () {
    return {
      result: '',
      error: '',
      facingMode: FRONT_CAMERA,
      noFrontCamera: false
    }
  },
  methods: {
    onDecode (result) {
      this.result = result
    },
    async onInit (promise) {
      try {
        await promise
        this.error = ''
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          this.error = 'ERROR: you need to grant camera access permisson'
        } else if (error.name === 'NotFoundError') {
          this.error = 'ERROR: no camera on this device'
        } else if (error.name === 'NotSupportedError') {
          this.error = 'ERROR: secure context required (HTTPS, localhost)'
        } else if (error.name === 'NotReadableError') {
          this.error = 'ERROR: is the camera already in use?'
        } else if (error.name === 'OverconstrainedError') {
          this.error = 'ERROR: installed cameras are not suitable'
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = 'ERROR: Stream API is not supported in this browser'
        }
      }
    },
    switchCamera () {
      if (this.facingMode === FRONT_CAMERA) {
        this.facingMode = REAR_CAMERA
      } else {
        this.facingMode = FRONT_CAMERA
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.error {
  font-weight: bold;
  color: red;
}
.qq {
  margin-left: 15%;
  margin-right: 15%;
}
</style>
