<template>
  <v-layout class="mb-0">
    <v-snackbar v-model="snackbar" :color="color" :timeout="timeout" :top="true" :right="true">
      {{message}}
      <v-btn color="white" flat @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>
    <v-flex xs3 offset-xs0>
      <v-subheader style="font-size:20px !important; margin-top: 10px;" class="title">{{type}}</v-subheader>
    </v-flex>

    <v-flex xs3 offset-xs0>
      <v-btn class="mx-2" fab dark color="pink" @click="minus()">
        <span style="font-size:30px">－</span>
      </v-btn>
      <!-- <v-chip class="grow" @click="minus()" color="deep-orange" text-color="white">
        <v-icon medium>exposure_neg_1</v-icon>
        <span class="title">-1</span>
      </v-chip> -->
    </v-flex>
    <v-flex xs2 offset-xs1>
      <v-text-field style="margin-top: 5px;"
        v-model="count"
        single-line
        outline
        disabled=""
      ></v-text-field>
      <!-- <input type="text" name="fname"> -->
    </v-flex>
    <v-flex xs3 offset-xs1>
      <v-btn class="mx-2" fab dark color="teal" @click="plus()">
        <span style="font-size:30px">＋</span>
      </v-btn>
      <!-- <v-chip class="grow" @click="plus()" color="teal" text-color="white">
        <v-icon>exposure_plus_1</v-icon>
        <span class="title">+1</span>
      </v-chip> -->
    </v-flex>
  </v-layout>
</template>
<script>
import { mapState } from 'vuex'
import api from '@/lib/api'

export default {
  props: ['type', 'typeId', 'typeCount'],
  mounted () {
    if (!this.$store.state.username) {
      this.$router.push({ name: 'login' })
    }

    if (!isNaN(this.typeCount)) {
      this.count = parseInt(this.typeCount)
    }

    // this.intervalId = setInterval(async () => {
    //   if (this.machineNo && this.hole) {
    //     this.updateMfgErrorCount()
    //   }
    // }, 1 * 6 * 1000)
  },
  destroyed () {
    clearInterval(this.intervalId)
  },
  data () {
    return {
      snackbar: false,
      message: 'Hello, I\'m a snackbar. Hello',
      color: '#EF5350',
      timeout: 1200,
      count: 0,
      intervalId: null
    }
  },
  methods: {
    async updateMfgErrorCount () {
      await api.updateMfgErrorCount(this.machineNo, this.shift, this.hole, this.typeId.trim(), this.count)
    },
    async plus () {
      let tempCount = 1
      let type = 'error'
      if (this.typeId === '12') { // 正常
        tempCount = this.plusCount
        type = 'normal'
      }
      if (this.typeId === '99') { // 正常(單片)
        type = 'normal'
      }

      this.$emit('change', type, tempCount)
      this.count = this.count + tempCount

      if (type === 'error') {
        try {
          await this.updateMfgErrorCount()
          this.message = `Error Count increased successfully`
          this.color = '#22c55e' // green
          this.snackbar = true
        } catch (err) {
          this.message = `Error Count increased failed`
          this.color = '#EF5350' // red
          this.snackbar = true
        }
      }
    },
    async minus () {
      let tempCount = 1
      let type = 'error'
      if (this.typeId === '12') { // 正常
        tempCount = this.plusCount
        type = 'normal'
      }
      if (this.typeId === '99') { // 正常(單片)
        type = 'normal'
      }

      if ((this.count - tempCount) >= 0) {
        this.count = this.count - tempCount
        this.$emit('change', type, (0 - tempCount))
      } else {
        this.$emit('change', type, (0 - this.count))
        this.count = 0
      }

      if (type === 'error') {
        try {
          await this.updateMfgErrorCount()
          this.message = `Error Count increased successfully`
          this.color = '#22c55e' // green
          this.snackbar = true
        } catch (err) {
          this.message = `Error Count increased failed`
          this.color = '#EF5350' // red
          this.snackbar = true
        }
      }
    }
  },
  computed: {
    ...mapState([
      'hole',
      'machineNo',
      'shift',
      'plusCount'
    ])
  }
}
</script>
<style lang="scss" scoped>
.grow {
  transition: all .2s ease-in-out;
  // transform: scale(1.4);
}
.grow:hover {
  transform: scale(1.4);
}
</style>
