<template>
  <v-app>
    <div class="text-xs-center mask">
      <v-progress-circular class="text-xs-center message"
        indeterminate
        color="primary"
      ></v-progress-circular>
    </div>
  </v-app>
</template>
<script>
export default {
}
</script>
<style lang="scss" scoped>
.mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.message {
  font-size: 42px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
