<template>
  <v-card :class="['grow']" :color="getColor" @click="pick">
    <v-card-title class="black--text title font-weight-black">
      {{ machineNo }}
    </v-card-title>
    <v-card-text class="blue-grey--text caption font-weight-regular font-italic">
      {{ status }}
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  props: ['machineNo', 'status', 'isEnable'],
  created () {
  },
  methods: {
    pick () {
      if (this.isEnable) {
        this.$emit('pick', this.machineNo)
      }
    }
  },
  computed: {
    getColor () {
      let color
      switch (this.status) {
        case '製造生產完畢':
          color = '#F8BBD0'
          break
        case '製造換班':
          color = '#C5CAE9'
          break
        case '製造上線':
          color = '#D1C4E9'
          break
        case '工程生產':
          color = '#B2EBF2'
          break
        case '品管檢驗':
          color = '#DCEDC8'
          break
        case '工程上線':
          color = '#CFD8DC'
          break
        case '工程試模完畢':
          color = '#B2DFDB'
          break
        case '工程下線':
          color = '#FFCCBC'
          break
        case '工程試模':
          color = '#FFF9C4'
          break
        case '生產準備':
          color = '#F0F4C3'
          break
        case '異常停機':
          color = '#BBDEFB'
          break
        default:
      }
      return color
    }
  }
}
</script>
<style lang="scss" scoped>
.grow {
  transition: all .2s ease-in-out;
  margin: 4px;
  height: 105px;
  width: 105px;
}
.grow:not(.nohover):hover {
  transform: scale(1.2);
}
</style>
