<template>
  <v-content column class="machine-form">
    <v-snackbar v-model="snackbar" :color="snackbarColorType" :timeout="timeout" :top="true" :right="true">
      {{message}}
      <v-btn color="white" flat @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>

    <v-flex v-if="showLoading" xs12>
      <loading></loading>
    </v-flex>
    <v-layout style="margin-top: 20px" column>
      <v-flex xs12 offset-xs8>
        <v-btn color="warning" @click="refresh">Refresh</v-btn>
      </v-flex>

      <v-flex>
        <v-layout>
          <v-flex xs4>
            <v-subheader class="font-weight-black title">Machine</v-subheader>
          </v-flex>
          <v-flex xs6 offset-xs1>
            <v-text-field
              v-model="machineNo"
              disabled=""
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex>
        <v-layout>
          <v-flex xs4>
            <v-subheader class="font-weight-black title">Count</v-subheader>
          </v-flex>
          <v-flex xs4 offset-xs1>
            <v-text-field type="number" v-model="machineCount"  placeholder="Count" :disabled="!isMachineCountEditable"></v-text-field>
          </v-flex>
          <v-flex xs2>
            <v-btn small top :disabled="!isMachineCountEditable" color="warning" @click="updateMachineCount">save count</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex>
        <v-layout>
          <v-flex xs4>
            <v-subheader class="font-weight-black title">Part No</v-subheader>
          </v-flex>
          <v-flex xs6 offset-xs1>
            <v-autocomplete
              v-model="partNoSelect"
              placeholder="Part No"
              :items="partNoSelectItems"
            ></v-autocomplete>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex>
        <v-layout>
          <v-flex xs4>
            <v-subheader class="font-weight-black title">Mold</v-subheader>
          </v-flex>
          <v-flex xs6 offset-xs1>
            <v-autocomplete
              v-model="moldSelect"
              placeholder="Mold"
              :items="moldSelectItems"
            ></v-autocomplete>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex>
        <v-layout>
          <v-flex xs4>
            <v-subheader style="margin-bottom: 10px" class="font-weight-black title">Now Stage</v-subheader>
          </v-flex>
          <v-flex xs6 offset-xs1>
            <v-chip label outline color="green">{{machineStageNow}}</v-chip>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex>
        <v-layout>
          <v-flex xs4>
            <v-subheader style="margin-bottom: 10px" class="font-weight-black title">Next Stage</v-subheader>
          </v-flex>
          <v-flex xs6 offset-xs1>&nbsp;
            <!-- <v-chip v-for="(next, index) in machineStageNext" :key="index" @click="nextStageClick(next)" label outline color="red">{{next}}</v-chip> -->
            <v-dialog v-for="(next, index) in machineStageNext" :key="index" v-model="dialog['next-' + index]" persistent max-width="290">
              <template v-slot:activator="{ on }">
                <v-chip v-on="on" label outline color="red">{{next}}</v-chip>
              </template>
              <v-card>
                <v-card-title class="headline">Are you sure?</v-card-title>
                <v-card-text>你點選的Next Stage為「{{next}}」?</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red lighten-2" flat="flat" text @click="dialog['next-' + index] = false">取消</v-btn>
                  <v-btn color="green lighten-2" flat="flat" text @click="nextStageClick(next)">確認</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex>
        <v-layout>
          <v-flex xs4>
            <v-subheader class="font-weight-black title">Remark</v-subheader>
          </v-flex>
          <v-flex xs6 offset-xs1>
            <v-textarea
              solo
              v-model="remark"
            ></v-textarea>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs3 offset-xs8 style="margin-top:10px;">
            <v-btn small :disabled="isCreatingRemark" color="warning" style="top: -35px; float: right" @click="createMachineRemark">save remark</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex>
        <v-layout>
          <v-flex xs4>
            <v-subheader class="font-weight-black title">Mold Maintain</v-subheader>
          </v-flex>
          <v-flex xs6 offset-xs1>
            <v-text-field
              v-model="moldMaintain"
              disabled=""
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-flex>
      <!-- <v-divider></v-divider> -->

    </v-layout>

    <v-dialog v-model="dialogQc" max-width="290" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2">取得檢驗編號</v-card-title>
        <v-card-text class="title">{{qcNo}}</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click="qcConfirm">確認</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogTryMold" max-width="290" :persistent="true">
      <v-card>
        <v-card-title class="headline grey lighten-2">取得試模編號: {{ tryMoldNo }}</v-card-title>
        <v-layout>
          <v-flex xs5>
            <v-subheader class="font-weight-black title">試模原因</v-subheader>
          </v-flex>
          <v-flex xs7>
            <v-autocomplete
              v-model="tryMoldReasonSelect"
              placeholder="Try Mold Reason"
              :items="tryMoldReasonItems"
            ></v-autocomplete>
          </v-flex>
        </v-layout>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click="tryMoldConfirm">確認</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-content>
</template>
<script>
import loading from '@/components/loading'
import api from '@/lib/api'
import * as R from 'ramda'

export default {
  props: ['machineNo'],
  components: { loading },
  async mounted () {
    await this.getPartNo()
    await this.getTryMoldReason()
    await this.getMachineStatus()
  },
  data () {
    return {
      snackbar: false,
      message: 'Hello, I\'m a snackbar. Hello',
      isCreatingRemark: false,
      snackbarColorType: 'success',
      timeout: 6000,
      dialog: {},
      dialogQc: false,
      dialogTryMold: false,
      qcNo: '',
      tryMoldNo: '',
      showLoading: true,
      machineCount: null,
      moldMaintain: null,
      machineStageNow: '',
      machineStageNext: [],
      partNoSelect: '',
      tryMoldReasonSelect: '',
      moldSelect: '',
      partInfoList: [],
      partNoDetail: [],
      partNoSelectItems: [],
      tryMoldReasonItems: [],
      moldSelectItems: [],
      isFirstLoad: true,
      remark: ''
    }
  },
  methods: {
    async createMachineRemark () {
      if (!this.partNoSelect || !this.moldSelect) {
        this.message = 'Part No or Mold is empty!'
        this.snackbarColorType = 'error'
        this.snackbar = true
        return false
      }
      if (!this.remark) {
        this.message = 'Remark is empty!'
        this.snackbarColorType = 'error'
        this.snackbar = true
        return false
      }
      this.isCreatingRemark = true
      try {
        const response = await api.createMachineRemark(this.machineNo, this.partNoSelect, this.moldSelect, this.remark)
        console.log(response)
        this.message = `[createMachineRemark] OK`
        this.snackbarColorType = 'success'
      } catch (error) {
        this.message = `[createMachineRemark] ${error}`
        this.snackbarColorType = 'error'
      } finally {
        this.snackbar = true
        this.isCreatingRemark = false
        this.remark = ''
      }
    },
    async updateMachineCount () {
      const response = await api.updateMachineCount(this.machineNo, 'noMFG', this.machineCount)
      console.log(response)
      if (response.Result !== 'OK') {
        console.log(response.Result)
        this.message = `[updateMachineCount] ${response.Result}`
        this.snackbar = true
      }
    },
    async getPartNo () {
      const response = await api.getPartNo(this.machineNo)
      this.partInfoList = response.data.PartInfoList
      this.partInfoList.forEach(element => {
        this.partNoSelectItems.push(R.prop('PartNo', element))
      })
    },
    async getTryMoldReason () {
      const response = await api.getTryMoldReason()
      this.tryMoldReasonItems = response.data.ReasonList
    },
    async getMachineStatus () {
      const response = await api.getMachineStatus(this.machineNo)

      this.partNoSelect = response.data.PartNo
      this.moldSelect = response.data.Mold
      this.machineCount = response.data.MachineCount
      this.moldMaintain = response.data.Mold_Maintain
      this.machineStageNow = response.data.MachineStage.Now
      this.machineStageNext = response.data.MachineStage.Next
      this.showLoading = false
    },
    doManufacture () {
      this.$router.push({ name: 'manufacture' })
    },
    async tryMoldConfirm () {
      if (!this.tryMoldReasonSelect) {
        this.message = '試模原因 is empty!'
        this.snackbarColorType = 'error'
        this.snackbar = true
        return false
      }
      // TODO: update data
      try {
        await api.updateTryMoldReason(this.tryMoldNo, this.tryMoldReasonSelect)
        this.dialogTryMold = false
        this.$emit('refresh', this.machineNo)
      } catch (err) {
        this.message = '試模原因更新失敗'
        this.snackbar = true
      }
    },
    qcConfirm () {
      this.dialogQc = false
      this.$emit('refresh', this.machineNo)
    },
    refresh () {
      this.$emit('refresh', this.machineNo)
    },
    async nextStageClick (stage) {
      console.log(this.dialog)
      Object.keys(this.dialog).forEach((key) => {
        this.dialog[key] = false
      })

      if (!this.partNoSelect || !this.moldSelect) {
        this.message = 'Part No or Mold is empty!'
        this.snackbar = true
        return false
      }

      stage = stage.replace(/^\s+|\s+$/g, '')

      // step1: update status
      if (stage !== '加入') {
        const response = await api.updateMachineStatus(this.machineNo, stage, this.partNoSelect, this.moldSelect)
        if (response.Result === 'OK') {
          this.qcNo = response.QCNo
          this.tryMoldNo = response.TryMoldNo
        }
      }

      // step2:
      switch (stage) {
        case '製造上線':
          this.$router.push({ name: 'manufacture' })
          break
        case '加入':
          this.$router.push({ name: 'manufacture' })
          break
        case '工程試模':
          this.dialogTryMold = true
          break
        case '品管檢驗':
          this.dialogQc = true
          break
        default:
          this.$emit('refresh', this.machineNo)
      }
    }
  },
  computed: {
    isMachineCountEditable () {
      return this.machineNo.indexOf('T') > -1
      // return true
    }
  },
  watch: {
    partNoSelect (newPartNo, oldPartNo) {
      console.log('newPartNo: ' + newPartNo + '/' + this.isFirstLoad)

      this.$store.commit('setPartNo', newPartNo)
      this.$store.commit('setMold', '')
      this.$store.commit('setHole1', '')
      this.$store.commit('setHole2', '')

      if (!this.isFirstLoad) this.moldSelect = ''
      // this.moldSelect = ''
      this.moldSelectItems = []
      let result = R.find(R.propEq('PartNo', newPartNo))(this.partInfoList)
      this.partNoDetail = JSON.parse(JSON.stringify(result.PartNoDetail))
      this.partNoDetail.forEach(element => {
        this.moldSelectItems.push(R.prop('Mold', element))
      })
    },
    async moldSelect (newMold, oldMold) {
      console.log('newMold: ' + newMold)
      this.isFirstLoad = false

      // step1: set data
      this.$store.commit('setMold', newMold)

      let result = R.find(R.propEq('Mold', newMold))(this.partNoDetail)
      if (result) {
        console.log(JSON.stringify(result))
        result = JSON.parse(JSON.stringify(result))
        this.$store.commit('setHole1', result.Hole1)
        this.$store.commit('setHole2', result.Hole2)
        this.$store.commit('setCto', result.Cto)
      }

      // step2: updatePartNo
      if (newMold) {
        const response = await api.updatePartNo(this.machineNo, this.partNoSelect, newMold)
        if (response.Result !== 'OK') {
          this.message = `[updatePartNo] ${response.Result}`
          this.snackbar = true
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.machine-form {
  background-color: #E8EAF6;
  border-radius:4px;
  height: 100%;
  padding-bottom: 40px;
}
</style>
