  <template>
  <v-app id="app">
    <v-toolbar v-if="isLogin" dark color="indigo" class="app-top">
      <v-btn v-if="showBackList" @click="goList" icon>
        <v-icon>chevron_left</v-icon>
      </v-btn>
      <v-toolbar-title class="white--text">MES</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon v-if="updatable">
        <v-icon>system_update</v-icon>
      </v-btn>

      <v-menu bottom left>
        <template v-slot:activator="{ on }">
          <v-btn
            dark
            icon
            v-on="on"
          >
            <v-icon>more_vert</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-tile
            v-for="(item, i) in items" @click="menuHandler(item.action)"
            :key="i"
          >
            <v-list-tile-title>{{ item.display }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>

      <v-chip v-if="username" color="#5C6BC0" text-color="white">{{username}}</v-chip>

    </v-toolbar>

    <v-toolbar v-if="!isLogin" dark color="indigo" class="app-top">
      <v-toolbar-title class="white--text">MES</v-toolbar-title>
    </v-toolbar>

    <router-view class="app-body"/>
    <v-footer class="pa-3 app-buttom">
      <v-spacer></v-spacer>
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>
<script>
import { mapState } from 'vuex'

export default {
  created () {
  },
  data () {
    return {
      showBackList: false,
      items: [
        {
          display: 'Logout',
          action: 'login'
        }
      ]
    }
  },
  methods: {
    goList () {
      this.showBackList = false
      this.$router.push({ name: 'list' })
    },
    menuHandler (action) {
      switch (action) {
        case 'login':
          this.$router.push({ name: 'login' })
          break
        case 'logout':
          this.$router.push({ name: 'home' })
          break
        case 'list':
          this.$router.push({ name: 'list' })
          break
        case 'card':
          this.$router.push({ name: 'card' })
          break
        case 'about':
          this.$router.push({ name: 'about' })
          break
        case 'manufacture':
          this.$router.push({ name: 'manufacture' })
          break
        default:
      }
    }
  },
  computed: {
    ...mapState([
      'username',
      'isLogin',
      'updatable'
    ])
  },
  watch: {
    $route (to, from) {
      if (to.name === 'manufacture' && from.name === 'list') {
        this.showBackList = true
      }
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.app-top {
  position: fixed;
  z-index: 999;
  top: 0;
}
.app-body {
  margin-top: 60px;
}
.app-buttom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
</style>
